:root {
  /* Font size */
  --text-button-small: 13px;

  /* Base */
  --base-white: #fff;
  --base-black: #000;

  /* Concept */
  --concept-black: #1a1f3b;

  /* Brand (Primary) */
  --brand-50: #eeedfd;
  --brand-100: #cac6f9;
  --brand-200: #b1aaf6;
  --brand-300: #8d84f2;
  --brand-400: #776cef;
  --brand-500: #5547eb;
  --brand-600: #4d41d6;
  --brand-700: #3c32a7;
  --brand-800: #2f2781;
  --brand-900: #241e63;

  /* Grey */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d2d6db;
  --grey-400: #9da4ae;
  --grey-500: #6c737f;
  --grey-600: #4d5761;
  --grey-700: #384250;
  --grey-800: #1f2a37;
  --grey-900: #111927;

  /* Red */
  --red-50: #fdebea;
  --red-100: #f9c2be;
  --red-200: #f6a49e;
  --red-300: #f27a72;
  --red-400: #ef6157;
  --red-500: #eb392d;
  --red-600: #d63429;
  --red-700: #a72820;
  --red-800: #811f19;
  --red-900: #631813;

  /* Orange */
  --orange-50: #fef7eb;
  --orange-100: #fbe6c1;
  --orange-200: #f9d9a3;
  --orange-300: #f6c878;
  --orange-400: #f5bd5e;
  --orange-500: #f2ad36;
  --orange-600: #dc9d31;
  --orange-700: #ac7b26;
  --orange-800: #855f1e;
  --orange-900: #664917;

  /* Green */
  --green-50: #e9f9ef;
  --green-100: #baedcd;
  --green-200: #99e4b5;
  --green-300: #6bd893;
  --green-400: #4ed17e;
  --green-500: #22c55e;
  --green-600: #1fb356;
  --green-700: #188c43;
  --green-800: #136c34;
  --green-900: #0e5327;

  /* Blue */
  --blue-50: #e9f2fc;
  --blue-100: #bad6f5;
  --blue-200: #99c2f1;
  --blue-300: #6ba7ea;
  --blue-400: #4e95e6;
  --blue-500: #2d81e1;
  --blue-600: #1f70cc;
  --blue-700: #18579f;
  --blue-800: #13447b;
  --blue-900: #0e345e;

  /* Purple */
  --purple-50: #faefff;
  --purple-100: #f0ceff;
  --purple-200: #e9b6ff;
  --purple-300: #e095ff;
  --purple-400: #d981ff;
  --purple-500: #d061ff;
  --purple-600: #bd58e8;
  --purple-700: #9445b5;
  --purple-800: #72358c;
  --purple-900: #57296b;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  /* Base */
  --base-white: #fff;
  --base-black: #000;

  /* Concept */
  --concept-black: #1a1f3b;

  /* Brand (Primary) */
  --brand-50: #eeedfd;
  --brand-100: #cac6f9;
  --brand-200: #b1aaf6;
  --brand-300: #8d84f2;
  --brand-400: #776cef;
  --brand-500: #5547eb;
  --brand-600: #4d41d6;
  --brand-700: #3c32a7;
  --brand-800: #2f2781;
  --brand-900: #241e63;

  /* Grey */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d2d6db;
  --grey-400: #9da4ae;
  --grey-500: #6c737f;
  --grey-600: #4d5761;
  --grey-700: #384250;
  --grey-800: #1f2a37;
  --grey-900: #111927;

  /* Red */
  --red-50: #fdebea;
  --red-100: #f9c2be;
  --red-200: #f6a49e;
  --red-300: #f27a72;
  --red-400: #ef6157;
  --red-500: #eb392d;
  --red-600: #d63429;
  --red-700: #a72820;
  --red-800: #811f19;
  --red-900: #631813;

  /* Orange */
  --orange-50: #fef7eb;
  --orange-100: #fbe6c1;
  --orange-200: #f9d9a3;
  --orange-300: #f6c878;
  --orange-400: #f5bd5e;
  --orange-500: #f2ad36;
  --orange-600: #dc9d31;
  --orange-700: #ac7b26;
  --orange-800: #855f1e;
  --orange-900: #664917;

  /* Green */
  --green-50: #e9f9ef;
  --green-100: #baedcd;
  --green-200: #99e4b5;
  --green-300: #6bd893;
  --green-400: #4ed17e;
  --green-500: #22c55e;
  --green-600: #1fb356;
  --green-700: #188c43;
  --green-800: #136c34;
  --green-900: #0e5327;

  /* Blue */
  --blue-50: #e9f2fc;
  --blue-100: #bad6f5;
  --blue-200: #99c2f1;
  --blue-300: #6ba7ea;
  --blue-400: #4e95e6;
  --blue-500: #2d81e1;
  --blue-600: #1f70cc;
  --blue-700: #18579f;
  --blue-800: #13447b;
  --blue-900: #0e345e;

  /* Purple */
  --purple-50: #faefff;
  --purple-100: #f0ceff;
  --purple-200: #e9b6ff;
  --purple-300: #e095ff;
  --purple-400: #d981ff;
  --purple-500: #d061ff;
  --purple-600: #bd58e8;
  --purple-700: #9445b5;
  --purple-800: #72358c;
  --purple-900: #57296b;

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
